In [1]:
import duckdb

conn = duckdb.connect(database='madang.db')
conn.sql("create table Customer as select * from 'Customer_madang.csv'")
conn.sql("create table Book as select * from 'Book_madang.csv'")
conn.sql("create table Orders as select * from 'Orders_madang.csv'")
conn.close()

In [2]:
import duckdb
conn = duckdb.connect(database='madang.db')

In [3]:
conn.sql("select * from Customer")

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ custid â”‚  name   â”‚     address     â”‚     phone     â”‚
â”‚ int64  â”‚ varchar â”‚     varchar     â”‚    varchar    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚      1 â”‚ ë°•ì§€ì„±  â”‚ ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€   â”‚ 000-5000-0001 â”‚
â”‚      2 â”‚ ê¹€ì—°ì•„  â”‚ ëŒ€í•œë¯¼êµ­ ì„œìš¸   â”‚ 000-6000-0001 â”‚
â”‚      3 â”‚ ì¥ë¯¸ë€  â”‚ ëŒ€í•œë¯¼êµ­ ê°•ì›ë„ â”‚ 000-7000-0001 â”‚
â”‚      4 â”‚ ì¶”ì‹ ìˆ˜  â”‚ ë¯¸êµ­ í´ë¦¬ë¸”ëœë“œ â”‚ 000-8000-0001 â”‚
â”‚      5 â”‚ ë°•ì„¸ë¦¬  â”‚ ëŒ€í•œë¯¼êµ­ ëŒ€ì „   â”‚ NULL          â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [4]:
def query(sql, retunrType='df'):
       if retunrType == 'df':
              return conn.execute(sql).df()
       else:
              return conn.execute(sql).fetchall()

#query("select * from Book", "df")
query("select * from Book", "list")

[(1, 'ì¶•êµ¬ì˜ ì—­ì‚¬', 'êµ¿ìŠ¤í¬ì¸ ', 7000),
 (2, 'ì¶•êµ¬ì•„ëŠ” ì—¬ì', 'ë‚˜ë¬´ìˆ˜', 13000),
 (3, 'ì¶•êµ¬ì˜ ì´í•´', 'ëŒ€í•œë¯¸ë””ì–´', 22000),
 (4, 'ê³¨í”„ ë°”ì´ë¸”', 'ëŒ€í•œë¯¸ë””ì–´', 35000),
 (5, 'í”¼ê²¨ êµë³¸', 'êµ¿ìŠ¤í¬ì¸ ', 8000),
 (6, 'ì—­ë„ ë‹¨ê³„ë³„ê¸°ìˆ ', 'êµ¿ìŠ¤í¬ì¸ ', 6000),
 (7, 'ì•¼êµ¬ì˜ ì¶”ì–µ', 'ì´ìƒë¯¸ë””ì–´', 20000),
 (8, 'ì•¼êµ¬ë¥¼ ë¶€íƒí•´', 'ì´ìƒë¯¸ë””ì–´', 13000),
 (9, 'ì˜¬ë¦¼í”½ ì´ì•¼ê¸°', 'ì‚¼ì„±ë‹¹', 7500),
 (10, 'Olympic Champions', 'Pearson', 13000)]

In [5]:
conn.execute("select * from Orders").fetchall()

[(1, 1, 1, 6000, datetime.date(2014, 7, 1)),
 (2, 1, 3, 21000, datetime.date(2014, 7, 3)),
 (3, 2, 5, 8000, datetime.date(2014, 7, 3)),
 (4, 3, 6, 6000, datetime.date(2014, 7, 4)),
 (5, 4, 7, 20000, datetime.date(2014, 7, 5)),
 (6, 1, 2, 12000, datetime.date(2014, 7, 7)),
 (7, 4, 8, 13000, datetime.date(2014, 7, 7)),
 (8, 3, 10, 12000, datetime.date(2014, 7, 8)),
 (9, 2, 10, 7000, datetime.date(2014, 7, 9)),
 (10, 3, 8, 13000, datetime.date(2014, 7, 10))]

In [6]:
conn.sql("select * from Orders")

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ orderid â”‚ custid â”‚ bookid â”‚ saleprice â”‚ orderdate  â”‚
â”‚  int64  â”‚ int64  â”‚ int64  â”‚   int64   â”‚    date    â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚       1 â”‚      1 â”‚      1 â”‚      6000 â”‚ 2014-07-01 â”‚
â”‚       2 â”‚      1 â”‚      3 â”‚     21000 â”‚ 2014-07-03 â”‚
â”‚       3 â”‚      2 â”‚      5 â”‚      8000 â”‚ 2014-07-03 â”‚
â”‚       4 â”‚      3 â”‚      6 â”‚      6000 â”‚ 2014-07-04 â”‚
â”‚       5 â”‚      4 â”‚      7 â”‚     20000 â”‚ 2014-07-05 â”‚
â”‚       6 â”‚      1 â”‚      2 â”‚     12000 â”‚ 2014-07-07 â”‚
â”‚       7 â”‚      4 â”‚      8 â”‚     13000 â”‚ 2014-07-07 â”‚
â”‚       8 â”‚      3 â”‚     10 â”‚     12000 â”‚ 2014-07-08 â”‚
â”‚       9 â”‚      2 â”‚     10 â”‚      7000 â”‚ 2014-07-09 â”‚
â”‚      10 â”‚      3 â”‚      8 â”‚     13000 â”‚ 2014-07-10 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ 10 rows                                  5 columns â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

In [7]:
query("select * from Customer c, Orders o where c.custid = o.custid")

,custid,name,address,phone,orderid,custid_1,bookid,saleprice,orderdate
0,1,ë°•ì§€ì„±,ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€,000-5000-0001,1,1,1,6000,2014-07-01
1,1,ë°•ì§€ì„±,ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€,000-5000-0001,2,1,3,21000,2014-07-03
2,2,ê¹€ì—°ì•„,ëŒ€í•œë¯¼êµ­ ì„œìš¸,000-6000-0001,3,2,5,8000,2014-07-03
3,3,ì¥ë¯¸ë€,ëŒ€í•œë¯¼êµ­ ê°•ì›ë„,000-7000-0001,4,3,6,6000,2014-07-04
4,4,ì¶”ì‹ ìˆ˜,ë¯¸êµ­ í´ë¦¬ë¸”ëœë“œ,000-8000-0001,5,4,7,20000,2014-07-05
5,1,ë°•ì§€ì„±,ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€,000-5000-0001,6,1,2,12000,2014-07-07
6,4,ì¶”ì‹ ìˆ˜,ë¯¸êµ­ í´ë¦¬ë¸”ëœë“œ,000-8000-0001,7,4,8,13000,2014-07-07
7,3,ì¥ë¯¸ë€,ëŒ€í•œë¯¼êµ­ ê°•ì›ë„,000-7000-0001,8,3,10,12000,2014-07-08
8,2,ê¹€ì—°ì•„,ëŒ€í•œë¯¼êµ­ ì„œìš¸,000-6000-0001,9,2,10,7000,2014-07-09
9,3,ì¥ë¯¸ë€,ëŒ€í•œë¯¼êµ­ ê°•ì›ë„,000-7000-0001,10,3,8,13000,2014-07-10

In [ ]:
import duckdb
import pandas as pd

con = duckdb.connect("madang.db")

print(con.execute("SHOW TABLES").df())

df = con.execute("SELECT * FROM Customer LIMIT 5").df()
print(df.head())

con.close()

       name
0      Book
1  Customer
2    Orders
   custid name   address          phone
0       1  ë°•ì§€ì„±   ì˜êµ­ ë§¨ì²´ìŠ¤íƒ€  000-5000-0001
1       2  ê¹€ì—°ì•„   ëŒ€í•œë¯¼êµ­ ì„œìš¸  000-6000-0001
2       3  ì¥ë¯¸ë€  ëŒ€í•œë¯¼êµ­ ê°•ì›ë„  000-7000-0001
3       4  ì¶”ì‹ ìˆ˜  ë¯¸êµ­ í´ë¦¬ë¸”ëœë“œ  000-8000-0001
4       5  ë°•ì„¸ë¦¬   ëŒ€í•œë¯¼êµ­ ëŒ€ì „           NULL

In [ ]:
import duckdb
import pandas as pd
import streamlit as st

st.set_page_config(page_title="Madang DB Viewer", layout="wide")

st.title("ğŸ“š Madang ë°ì´í„°ë² ì´ìŠ¤ ë·°ì–´")

DB_PATH = "madang.db"

@st.cache_resource
def get_connection():
    # read_only=Trueë¡œ ì•ˆì „í•˜ê²Œ
    return duckdb.connect(DB_PATH, read_only=True)

con = get_connection()

# í…Œì´ë¸” ëª©ë¡
tables_df = con.execute("SHOW TABLES").df()
table_names = tables_df["name"].tolist()

st.sidebar.header("í…Œì´ë¸” & ëª¨ë“œ ì„ íƒ")

mode = st.sidebar.radio(
    "ê¸°ëŠ¥ ì„ íƒ",
    ["í…Œì´ë¸” ì¡°íšŒ", "ê°„ë‹¨ ë¦¬í¬íŠ¸ (JOIN ì˜ˆì œ)", "ì§ì ‘ SQL ì¿¼ë¦¬"]
)

if mode == "í…Œì´ë¸” ì¡°íšŒ":
    selected_table = st.sidebar.selectbox("í…Œì´ë¸” ì„ íƒ", table_names)
    limit = st.sidebar.number_input("LIMIT", min_value=5, max_value=5000, value=100, step=5)

    st.subheader(f"í…Œì´ë¸”: `{selected_table}` (ìƒìœ„ {limit}í–‰)")

    query = f"SELECT * FROM {selected_table} LIMIT {limit};"
    st.code(query, language="sql")

    df = con.execute(query).df()
    st.dataframe(df, use_container_width=True)

elif mode == "ê°„ë‹¨ ë¦¬í¬íŠ¸ (JOIN ì˜ˆì œ)":
    st.subheader("ğŸ’¡ ê³ ê°ë³„ ì£¼ë¬¸ ìš”ì•½ (ì˜ˆì‹œ)")

    query = """
        SELECT 
            c.CustomerID,
            c.Name,
            COUNT(DISTINCT o.OrderID) AS num_orders,
            SUM(o.qty) AS total_qty
        FROM Orders o
        JOIN Customer c ON o.CustomerID = c.CustomerID
        GROUP BY c.CustomerID, c.Name
        ORDER BY num_orders DESC
        LIMIT 20;
    """
    st.code(query, language="sql")

    try:
        df = con.execute(query).df()
        st.dataframe(df, use_container_width=True)

        st.bar_chart(df.set_index("Name")["num_orders"])
    except Exception as e:
        st.error(f"JOIN ì˜ˆì œ ì‹¤í–‰ ì¤‘ ì˜¤ë¥˜: {e}")
        st.info("Customer, Orders í…Œì´ë¸”ì˜ ì‹¤ì œ ì»¬ëŸ¼ëª…ì„ ì¿¼ë¦¬ì— ë§ê²Œ ìˆ˜ì •í•´ì¤˜ì•¼ í•  ìˆ˜ ìˆì–´ìš”.")

else:  # ì§ì ‘ SQL ì¿¼ë¦¬
    st.subheader("ğŸ§ª ì§ì ‘ SQL ì…ë ¥í•´ì„œ ì‹¤í–‰")

    default_query = "SELECT * FROM Book LIMIT 10;"
    query = st.text_area("SQL ì¿¼ë¦¬", value=default_query, height=180)

    if st.button("ì¿¼ë¦¬ ì‹¤í–‰"):
        try:
            df = con.execute(query).df()
            st.write(f"ê²°ê³¼: {len(df)} rows")
            st.dataframe(df, use_container_width=True)
        except Exception as e:
            st.error(f"ì¿¼ë¦¬ ì‹¤í–‰ ì˜¤ë¥˜: {e}")